body {
  max-width: 630px;
  margin: 20px auto;
  padding: 0px 20px;
  background-color: #fff;
  color: #666;
  font: 15px Helvetica, Arial, sans-serif;
  text-align: justify;
  line-height: 22px;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 20px;
  margin-bottom: 10px;
  color: #333;
}

h2 {
  font-size: 18px;
}

p {
  margin: 10px 0px;
}

a {
  border-bottom: 1px dotted #6ca;
  color: #0a6;
  font-weight: bold;
  text-decoration: none;
}

a img {
  border: none;
}

em {
  color: #448;
  font-weight: bold;
  font-style: normal;
}

dl {
  margin: 10px 0px 20px 20px;
}

dl dt {
  font-weight: bold;
}

ul {
  margin: 10px 0px 20px 20px;
}

ul li {
  margin-bottom: 10px;
}

.header {
  margin: 40px 0px 20px 0px;
}

#site-logo .libre {
  color: #0a6;
  font-size: 32px;
  font-weight: normal;
  font-style: italic;
}

#site-logo .pdx {
  color: #000;
  font-size: 30px;
  margin-left: -5px;
}

.footer {
  overflow: hidden;
  margin-top: 4em;
  border-top: 4px solid #eee;
  color: #666;
  font-size: 12px;
  text-align: center;
}
