<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{% if page.title %}{{ page.title }} ::{% endif %} {{ site.name }}</title>
        <meta name="viewport" content="width=device-width">

        <link rel="stylesheet" href="/css/reset.css">

        <!-- syntax highlighting CSS -->
        <link rel="stylesheet" href="/css/syntax.css">

        <!-- Custom CSS -->
        <link rel="stylesheet" href="/css/main.css">

    </head>
    <body>

        <div class="container">
          <div class="site">
            <div class="header">
              <h1 class="title">
                <a href="/" id="site-logo">
                  <span class="libre">Libre</span>
                  <span class="pdx">PDX</span>
                </a>
              </h1>
              <!--
              <a class="extra" href="/">home</a>
              -->
            </div>

                {{ content }}

            <div class="footer">
              <div class="license">
                The LibrePDX website and content are licensed under a <a href="http://creativecommons.org/licenses/by-sa/3.0/">Creative Commons Attribution-ShareAlike</a> License.
              </div>
              <div class="get-involved">
                Learn how to contribute to this site at <a href="http://github.com/librepdx/librepdx.org/">github.com/librepdx/librepdx.org</a>.
              </div>
            </div>
          </div>
        </div> <!-- /container -->

    </body>
</html>
